@model ContactsDirectory.Models.ContactInfo


<!DOCTYPE html>
<html>
<head>
    <title>Contact Details</title>
</head>
<body>
    <div class="container mt-4"></div>
    <h3 class="mb-4">Contact Details</h3>

    <table border="1">
        <tr><td>Contact ID</td><td>@Model.ContactId</td></tr>
        <tr><td>First Name</td><td>@Model.FirstName</td></tr>
        <tr><td>Last Name</td><td>@Model.LastName</td></tr>
        <tr><td>Company</td><td>@Model.CompanyName</td></tr>
        <tr><td>Email</td><td>@Model.EmailId</td></tr>
        <tr><td>Mobile</td><td>@Model.MobileNo</td></tr>
        <tr><td>Designation</td><td>@Model.Designation</td></tr>
    </table>

    <br />
    <a asp-action="ShowContacts">Back to List</a>
</body>
</html>
